<!DOCTYPE html>
{% extends 'app/base.html' %}
{% load staticfiles %}
<html>

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}


<!-- Jumbotron -->

<header>
	
	<br>
	<br>
	
	<div class="p-5 text bg-info">
        <h1><strong style="color:white"> ABOUT US </strong></h1>
	</div>
</header>

<!-- Background image -->
<style>
	body {
	  background-image: url("{% static '/images/about/lefthero.png' %}");
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;

	}
	</style>
<div></div>
<!-- Background image -->

<div class="container-fluid">
<br></br>



<!------------Welcome Section------------>

<div class="p-5">


<body>
	<strong><h1> GET TO KNOW US</h1></strong>

	<div>

		<p style= font-weight:100>
			PhoneFinder is the best place to get the best suggestions for a Phone, based on your needs. Simply complete our quick and easy form and we'll suggest a couple of options to suit you.  
		<p>

		<p id="demo" style="display:none">

				We consider a wide range of factors, such as the operating system, display size, battery life, camera quality, and other features, to ensure that we recommend phones that are perfect for you.

	
			
				
			Once you have filled out the form and received our recommendations, you can save your favorite phones to your account for future reference. 
			
			
			
				PhoneFinder is the ultimate solution for anyone who is looking to purchase a new phone but is overwhelmed by the countless options available in the market. With our platform, you can rest assured that you will get the best recommendations that match your requirements, saving you time and effort.</p>


	
			

		<button type="button" onclick="document.getElementById('demo').style.display='block'">Learn More</button>

				
	</div>

</body>
</br>
</div>


{% endblock body_block %}


</html>