<!DOCTYPE html>

{% load staticfiles %}

{% load app_template_tags %}

<!-- header setup -->
    
<html>                                                
    
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
        <title>
                PhoneFinder - 
                {% block title_block %}
                    WAD PROJECT
                {% endblock %}
        </title>
    </head>

<body>

<!-- stylesheet link -->

<link rel="stylesheet" href="{% static 'css/page.css' %}">

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

{% block navbar %}

<!-- navbar setup -->

  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
       

            <img src = "{% static '/images/assets/logolarge.png' %}" href="{% url 'app:homepageafterlogin' %}" width = 20% >
        
        <br></br>

       
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

           
            <li class="nav-item">
                <a></a>
              </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'app:homepageafterlogin' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:about' %}">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:find' %}">Find your Phone</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:database' %}">Database</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:favourites' %}">Favourites</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:review' %}">Review</a>
          </li>

            <li class="nav-item">
            <a class="nav-link" href="{% url 'app:user_logout' %}">Logout</a>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>
    
{% endblock navbar %}

  
{% block body_block %}
    
{% endblock %}

</html>