<!DOCTYPE html>
{% extends 'app/base.html' %}
{% load staticfiles %}
<html>

{% block title_block %}
	Browse all our phones
{% endblock %}

{% block body_block %}


<!-- Jumbotron -->

<header>
	
	<br>
	<br>
	
	<div class="p-5 text bg-info">
        <h1><strong style="color:white"> OUR PHONES </strong></h1>
	</div>
</header>

<!-- Background image -->
<style>
	body {
	  background-image: url("{% static '/images/about/lefthero.png' %}");
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;

	}
	</style>
<div></div>
<!-- Background image -->

<div class="container-fluid">
<br></br>



<!------------Welcome Section------------>

<div class="p-5">


<body>
	<strong><h1> OUR PHONES</h1></strong>

	<div>

		<p style= font-weight:100>
			PhoneFinder is the best place to get the best suggestions for a Phone, based on your needs. Simply complete our quick and easy form and we'll suggest a couple of options to suit you.  Like what you see, simply save them to your favourites for reference. You can also find links to purchase from our partners
		<p>
		
				
	</div>


	
</div>


{% endblock body_block %}


</html>