<!DOCTYPE html>
{% extends 'app/base.html' %}
{% load staticfiles %}
<html>

{% block title_block %}
	Find your phone
{% endblock %}

{% block body_block %}


<!-- Jumbotron -->

<header>
	
	<br>
	<br>
	
	<div class="p-5 text bg-info">
        <h1><strong style="color:white"> FIND YOUR PHONE </strong></h1>
	</div>
</header>

<!-- Background image -->
<style>
	body {
	  background-image: url("{% static '/images/about/lefthero.png' %}");
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;

	}
	</style>
<div></div>
<!-- Background image -->

<div class="container-fluid">
<br></br>



<!------------Welcome Section------------>

<div class="p-5">


<body>
	<strong><h1> FIND YOUR PHONE</h1></strong>

	<div>

		<p style= font-weight:100>
			Fill out the form below and we'll do the rest.
		<p>
		
				
	</div>


	
</div>


{% endblock body_block %}


</html>