<!DOCTYPE html>
{% extends 'app/base.html' %}
{% load staticfiles %}
<html>

{% block title_block %}
	Find your phone
{% endblock %}

{% block body_block %}


<!-- Jumbotron -->

<header>
	
	<br>
	<br>
	
	<div class="p-5 text bg-info">
        <h1><strong style="color:white"> FIND YOUR PHONE </strong></h1>
	</div>
</header>

<!-- Background image -->
<style>
	body {
	  background-image: url("{% static '/images/about/lefthero.png' %}");
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;

	}
	</style>
<div></div>
<!-- Background image -->

<div class="container-fluid">
<br></br>



<!------------Welcome Section------------>

<div class="p-5">


<body>
<div class="p-5">

	
<body>
	<form id="submitForm">
	{% csrf_token %}
	<strong><h1> FIND YOUR PHONE</h1></strong>
	<div class="brand-select">
	<label for="brand_id">Select a brand</label>
	<select name="brand" id="id_brand">
		<option value="">Any</option>
	{% for brand in brands %}
	<option value="{{ brand }}">{{ brand }}</option>
	{% endfor %}
	</select>
	</div>
	<div class="min-max-year">
		<label for="id_min_year">Enter earliest release year:</label>
		<input type="number" name="min_year" id="id_min_year" value="2018" min=2018 max=2022>	
		<br/>
		<label for="id_max_year">Enter Latest release year:</label>
		<input type="number" name="max_year" id="id_max_year" value="2023" min=2018 max="2023">	
		<script>
			const minYearInput = document.getElementById('id_min_year');
			const maxYearInput = document.getElementById('id_max_year');
			
			minYearInput.addEventListener('input', () => {
			  if (minYearInput.value > maxYearInput.value) {
				maxYearInput.value = minYearInput.value;
			  }
			});
			
			maxYearInput.addEventListener('input', () => {
			  if (maxYearInput.value < minYearInput.value) {
				minYearInput.value = maxYearInput.value;
			  }
			});
		  </script>
		  
	</div>
	<div class="min-max-storage">
		<label for="id_min_storage">Select minimum Storage:</label>
		<select name="min_storage" id="min_id_storage">
			<option value=0>Any</option>
			{% for storage in storages %}
			<option value="{{ storage }}">{{ storage }}GB</option>
			{% endfor %}
		</select>
		<br/>
		<label for="id_max_storage">Select maximum Storage:</label>
		<select name="max_storage" id="max_id_storage" >
			<option value=20482048>Any</option>
			{% for storage in storages %}
			<option value="{{ storage }}">{{ storage }}GB</option>
			{% endfor %}
		</select>
		<script>
			const minStorageInput = document.getElementById('min_id_storage');
			const maxStorageInput = document.getElementById('max_id_storage');
			
			minStorageInput.addEventListener('input', () => {
			  if (parseInt(minStorageInput.value) > parseInt(maxStorageInput.value)) {
				maxStorageInput.value = minStorageInput.value;
			  }
			});
			
			maxStorageInput.addEventListener('input', () => {
			  if (parseInt(maxStorageInput.value) < parseInt(minStorageInput.value)) {
				minStorageInput.value = maxStorageInput.value;
			  }
			});
		  </script>
	</div>
	<div class="resolution">
		<label for="id_min_width">Minimum Width:</label>
		<select name="min_width" id="id_min_width">
		  <option value=0>Any</option>
		  {% for width in widths %}
			<option value="{{ width }}">{{ width }}px</option>
		  {% endfor %}
		</select>
		
		<label for="id_max_width">Maximum Width:</label>
		<select name="max_width" id="id_max_width">
		  <option value=3840>Any</option>
		  {% for width in widths %}
			<option value="{{ width }}">{{ width }}px</option>
		  {% endfor %}
		</select>
		<script>
			const minWidInput = document.getElementById('id_min_width');
			const maxWidInput = document.getElementById('id_max_width');
			
			minWidInput.addEventListener('input', () => {
			  if (parseInt(minWidInput.value) > parseInt(maxWidInput.value)) {
				maxWidInput.value = minWidInput.value;
			  }
			});
			
			maxWidInput.addEventListener('input', () => {
			  if (parseInt(maxWidInput.value) < parseInt(minWidInput.value)) {
				maxWidInput.value = minWidInput.value;
			  }
			});
		  </script>
		  <br/>
		<label for="id_min_height">Minimum Height:</label>
		<select name="min_height" id="id_min_height">
		  <option value=0>Any</option>
		  {% for height in heights %}
			<option value="{{ height }}">{{ height }}px</option>
		  {% endfor %}
		</select>
		
		
		<label for="id_max_height">Maximum Height:</label>
		<select name="max_height" id="id_max_height">
		  <option value=5000>Any</option>
		  {% for height in heights %}
			<option value="{{ height }}">{{ height }}px</option>
		  {% endfor %}
		</select>
		<script>
			const minHiInput = document.getElementById('id_min_height');
			const maxHiInput = document.getElementById('id_max_height');
			
			minHiInput.addEventListener('input', () => {
			  if (parseInt(minHiInput.value) > parseInt(maxHiInput.value)) {
				maxHiInput.value = minHiInput.value;
			  }
			});
			
			maxHiInput.addEventListener('input', () => {
			  if (parseInt(maxHiInput.value) < parseInt(minHiInput.value)) {
				minHiInput.value = maxHiInput.value;
			  }
			});
		  </script>
	</div>
	<div class="min-max-ram">
		<label for="id_min_ram">Select minimum RAM:</label>
		<select name="min_ram" id="min_id_ram">
			<option value=0>Any</option>
			{% for ram in rams %}
			<option value="{{ ram }}">{{ ram }}GB</option>
			{% endfor %}
		</select>
		<br/>
		<label for="id_max_ram">Select maximum RAM:</label>
		<select name="max_ram" id="max_id_ram" >
			<option value=131072>Any</option>
			{% for ram in rams %}
			<option value="{{ ram }}">{{ ram }}GB</option>
			{% endfor %}
		</select>
		<script>
			const minRAMInput = document.getElementById('min_id_ram');
			const maxRAMInput = document.getElementById('max_id_ram');
			
			minRAMInput.addEventListener('input', () => {
			  if (parseInt(minRAMInput.value) > parseInt(maxRAMInput.value)) {
				maxRAMInput.value = minRAMInput.value;
			  }
			});
			
			maxRAMInput.addEventListener('input', () => {
			  if (parseInt(maxRAMInput.value) < parseInt(minRAMInput.value)) {
				minRAMInput.value = maxRAMInput.value;
			  }
			});
		  </script>
	</div>
	<div>
			<!-- form fields here -->
		<button id="submitBtn" type="button">Submit</button>
	</div>
	</form>
	<script>
		const form = document.getElementById("submitForm");
		const button = document.getElementById("submitBtn");
		  
		button.addEventListener("click", function(e) {
		  e.preventDefault(); // prevent default form submission behavior
		  const formData = new FormData(form); // get the form data
		  
		  const data = Object.fromEntries(formData.entries()); // convert form data to object
		  const url = "/phonefinder/database/"; // replace with your desired destination URL
		  // make an HTTP request with the form data
		  console.log(JSON.stringify(data),"hi")
		  fetch(url, {
			method: "POST",
			body: JSON.stringify(data),
			headers: {
			  "Content-Type": "application/json",
			  "X-CSRFToken": getCookie("csrftoken")
			}
		  })
		  .then(response => response.json())
		  .then(data => {
			console.log(data)
			const phones = data;
			const phonesContainer = document.getElementById('phone-display');
			phonesContainer.innerHTML = ''; // clear the container first
			console.log(Array.isArray(phones.phones))
			// loop through the phones array and create a new section for each phone
			if (Array.isArray(phones.phones)) {
				phones.phones.forEach(phone => {
					const phoneSection = document.createElement('section');
					phoneSection.innerHTML = `
						<h2>${phone.brand} ${phone.name}</h2>
						<p>Rlease Date ${phone.releaseYear}</p>
						<p>Storage: ${parseInt(phone.storage)}GB</p>
						<p>Resolution: ${phone.resolution}</p>
						<p>RAM: ${parseInt(phone.ram)}GB</p>
						
						<img src="${phone.picture}" alt="${phone.brand} ${phone.name} Image">

					`;
					phonesContainer.appendChild(phoneSection);
				});
			}
		  });
		});
	  
		function getCookie(name) {
		  let cookieValue = null;
		  if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
			  const cookie = cookies[i].trim();
			  // Does this cookie string begin with the name we want?
			  if (cookie.substring(0, name.length + 1) === (name + '=')) {
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			  }
			}
		  }
		  return cookieValue;
		}
	  </script>
	

<!--Display the phone-->
	<div id="phone-display">
		
	</div>
	</body>

	

	
</div>


{% endblock body_block %}


</html>