<!DOCTYPE html>
{% extends 'app/base.html' %}
{% load staticfiles %}
<html>

{% block title_block %}
	Leave a review
{% endblock %}

{% block body_block %}


<!-- Jumbotron -->
    <style>
        .blue-text {
            color: #2aa9e1;
        }

        .green-text {
            color: #00D100;
        }

        .orange-text {
            color: #FFA500;
        }

        .red-text {
            color: #FF0000;
        }

        select.chosen {
            padding: 5px;
            margin: 5px 0;
            width: 100%;
        }

    </style>

<header>
	
	<br>
	<br>
	
	<div class="p-5 text bg-info">
        <h1><strong style="color:white"> LEAVE A REVIEW </strong></h1>
	</div>
</header>


<div class="container-fluid">
<br></br>



<!------------Welcome Section------------>

<div class="p-5">


<body>
	<strong><h1> RATE YOUR MODEL </h1></strong>

	<div>

		<p style= font-weight:100>
			Fill out the form below, and we'll do the rest.

			1 is lowest and 5 is highest
		<p>
		
				
	</div>

	<form method="POST" action="{% url 'app:submit_review' %}">

        {% csrf_token %}

        <div class="form-group">
			<label for="inputRating">Rating</label>
			<input type="number" name="rating" class="form-control" id="inputRating" placeholder="Rating" min="1" max="5">
		  </div>

		  <div class="form-row">
            <label for="inputModel">Model</label>
              <select class="chosen" name="model" id="inputModel">
                  {% if phones %}
                  {% for phone in phones %}
                    <option>{{ phone.name }}</option>
                  {% endfor %}
                  {% endif %}
              </select>

          </div>

        <br>

		  <div class="form-row">
			<label for="inputTitle">Title</label>
			<input type="text" name="title" class="form-control" id="inputTitle" placeholder="Title">
		  </div>

		  <div class="form-row">
			<label for="inputComments">Comments</label>
			<textarea name="comments" class="form-control" id="inputComments" placeholder="Your review" rows="5"></textarea>
		  </div>

		  <br>

		<button type="submit" class="btn btn-primary">Leave your review</button>
	  </form>


	
</div>

    <h2 class="text-center blue-text">Recent reviews</h2>

    <div>

		<p style= font-weight:100>

        {% if recent_reviews %}

            <div class="card-deck">

            {% for review in recent_reviews %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title blue-text">{{ review.title }} - {{ review.model }}</h5>
                    <p class="card-text">
                        {{ review.comments }}
                    </p>
                </div>
                <div class="card-footer text-center
                {% if review.rating >= 4 %}
                    green-text
                {% elif review.rating == 3 %}
                    orange-text
                {% else %}
                    red-text
                {% endif %}
                ">
                    {{ review.rating }}/5
                </div>
            </div>
            {% endfor %}

            </div>
    {% endif %}
		<p>


    <script type="text/javascript">
        $(".chosen").chosen();
    </script>

{% endblock body_block %}


</html>